///////////////////////////////////////////////////////////////////////
////////////////////////////// BLACK-HOLE CENTER///////////////////////
///////////////////////////////////////////////////////////////////////

@keyframes black-hole{
  0%  { transform:scale(1) translate3d( 75px,0,0) }
  50% { transform:scale(4) translate3d( 55px,0,0) }
  100%{ transform:scale(1) translate3d( 75px,0,0) }
}
@keyframes black-hole-rotate{
  0%   { transform: translate(-50%,-50%) rotate(  0deg) skew(3deg)}
  50%  { transform: translate(-50%,-50%) rotate(180deg) skew(0deg)}
  100% { transform: translate(-50%,-50%) rotate(360deg) skew(3deg)}
}

.black-hole{
  backface-visibility: hidden;
  z-index: 20;
  position      : relative;
  overflow      : hidden;
  border-radius : 50%;
  width         : 200px;
  height        : 200px;
  padding       : 0;
  box-shadow    : 0 0 30px 0 #0000ff inset;
  
  .gooey-container {
    overflow      : hidden;
    border-radius : 50%;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%,-50%) rotate(0deg) skew(5deg);
    filter        : url(#gooey-black-hole);
    width         : 250px;
    height        : 250px;
    padding       : 0;
    margin        : 0;
    box-shadow    : 0 0 0 22px #000dff inset;
    animation     : black-hole-rotate 5s ease infinite;
    
    .bubble {
      display    : block;
      position   : absolute;
      top        : 50%;
      left       : 50%;
      width      : 100%;
      text-align : right;

      &:before{
        content       : "";
        display       : inline-block;
        background    : #40c9ff;
        width         : 100px;
        height        : 100px;
        border-radius : 50%;
        transform     : scale(1) translate3d(75px,0,0);
        box-shadow    : 0 0 10px 0 #2828f5 inset,
                        0 0 10px 0 #2828f5 inset;
      }
    }
    @for $i from 1 through 6 {
      .bubble:nth-child(#{$i}) {
        transform : translate(-50%,-50%) rotate(60deg*$i);
      }
      .bubble:nth-child(#{$i}):before {
        animation : black-hole 1s*($i) ease .5s*$i infinite;
      }
    }
  }
}



///////////////////////////////////////////////////////////////////////
////////////////////////////// BLACK-HOLE SIDES////////////////////////
///////////////////////////////////////////////////////////////////////

@keyframes black-hole2{
  0%  { transform:scale(1) translate3d( 75px,0,0) }
  50% { transform:scale(4) translate3d( 55px,0,0) }
  100%{ transform:scale(1) translate3d( 75px,0,0) }
}
@keyframes black-hole-rotate2{
  0%   { transform: translate(-50%,-50%) rotate(  0deg) skew(3deg)}
  50%  { transform: translate(-50%,-50%) rotate(180deg) skew(0deg)}
  100% { transform: translate(-50%,-50%) rotate(360deg) skew(3deg)}
}

.black-hole2{
  backface-visibility: hidden;
  z-index: 20;
  position      : relative;
  overflow      : hidden;
  border-radius : 50%;
  width         : 150px;
  height        : 150px;
  padding       : 0;
  box-shadow    : 0 0 30px 0 #0084ff inset;
  
  .gooey-container2 {
    overflow      : hidden;
    border-radius : 50%;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%,-50%) rotate(0deg) skew(5deg);
    filter        : url(#gooey-black-hole2);
    width         : 200px;
    height        : 200px;
    padding       : 0;
    margin        : 0;
    box-shadow    : 0 0 0 22px #0022ff inset;
    animation     : black-hole-rotate2 5s ease infinite;
    
    .bubble2 {
      display    : block;
      position   : absolute;
      top        : 50%;
      left       : 50%;
      width      : 100%;
      text-align : right;

      &:before{
        content       : "";
        display       : inline-block;
        background    : #40c9ff;
        width         : 100px;
        height        : 100px;
        border-radius : 50%;
        transform     : scale(1) translate3d(75px,0,0);
        box-shadow    : 0 0 10px 0 #2828f5 inset,
                        0 0 10px 0 #2828f5 inset;
      }
    }
    @for $i from 1 through 6 {
      .bubble2:nth-child(#{$i}) {
        transform : translate(-50%,-50%) rotate(60deg*$i);
      }
      .bubble2:nth-child(#{$i}):before {
        animation : black-hole2 1s*($i) ease .5s*$i infinite;
      }
    }
  }
}