.plus {
  width: 40px;
  cursor:pointer;
  transition: all .3s ease 0s;
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  &__line {
    width: 4px;
    height: 26px;
    background: color-mix(in oklab, var(--color-green-300) 90%, transparent);
    border-radius:10px;
    position: absolute;
    left: calc(50% - 3px);
    top: calc(50% - 25px);
    &--h {
      transform: rotate(90deg);
    } 
    &--v {
      display: flex;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
       transition: all .4s ease 0s;
    }
  }
  &__link {
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition : .3s ease 0s;
    transform:scale(.5);
  }
  &--active {
    height:32px;
    border-radius:30px;
    .plus__line--v {
    height: 68px;
    top: calc(-100% - 80px);
    padding:0 5px;
    box-sizing:border-box;
    width: 220px; 
    border-radius: 60px;
    left: calc(50% - 160px);
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.2);    
    }
    .plus__link{
      opacity:1;
      visibility:visible;
      transform:scale(1);
      transition-delay: .05s;
    }
  }
}

.centered {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

